<section>
  <h2>Work Experience</h2>
  <% workExperience.forEach(job => { %>
    <div>
      <h3><%= job.role %></h3>
      <p><%= job.company.name %></p>
      <p><%= job.company.industry %></p>

      <div>
        <p>Tech Stack</p>
        <ul>
          <% job.techStack.forEach(tech => { %>
            <li><%= tech %></li>
          <% }) %>
        </ul>

        <ul>
          <% job.descriptions.forEach(description => { %>
            <li><%= description %></li>
          <% }) %>
        </ul>
      </div>
    </div>
  <% }) %>
</section>
